<h2>Por Pais</h2>
<hr>
<div class="row">
    <div class="col">
        <form (submit)="buscar()" action="" autocomplete="off">
            <input [(ngModel)]="palabra" class="form-control form-control-lg" type="text" placeholder="Buscar Pais" name="termino">
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger">No se encontro nada con el termino</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera|</td>
                    <td>Nombre</td>
                    <td> 12341</td>
                    <td>
                        <a href="#">Ver más...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>