<h2>{{"busqueda"|uppercase}}</h2>
<ul class="list-group">
    <!-- [routerLinkActiveOptions] unicamente aplica si el path del routerlink esta vacio  -->
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item text-center">{{"Buscar Pais"}}</li>
    <li routerLink="region" routerLinkActive="active" class="list-group-item text-center">{{"Por Region"}}</li>
    <li routerLink="capital" routerLinkActive="active" class="list-group-item text-center">{{"Por Capital"}}</li>
</ul>